*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.container{
    background-image: url(img/bg.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.dino{
    background-image: url(img/dino.png);
    background-size: cover;
    background-position: center;
    width: 233px;
    height: 114px;
    position: absolute;
    bottom: 0;
    left: 6%;
}
.obstacle{
    background-image: url(img/dragon.png);
    background-position: center;
    background-size: cover;
    width: 170px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 44vw;
}
#scoreCont{
    position: relative;
    left: 23px;
    top: 23px;
    border: 2px solid black;
    padding: 10px;
    width: 112px;
    text-align: center;
}
.gameOver{
    visibility: hidden;
    position: relative;
    top: 63px;
    font-size: 53px;
    text-align: center;
}
.animateDino{
    animation: dino .6s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}
@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}